.header {
  background-color: #002341;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 0 50px 0 0;
}

.card-grid {
  cursor: pointer;
}

.el-right {
  margin-left: auto;
}
.color-white {
  color: white;
}