.header {
  background-color: #002341;
  position: relative;
  display: flex;
  align-items: center;
  height: 85px;
  padding: 0 50px 0 0;

  .logo {
    margin-left: 20px;
    margin-top: 10px;
  }

  .user-menus {
    margin-left: auto;
    position: relative;
    color: #ffffff;
    font-weight: 700;
    display: flex;

    .v-divider {
      color: rgba(255, 255, 255, 0.3);
      margin-right: 30px;
      margin-left: 30px;
    }

    .user-menu {
      &:hover {
        color: orange;
        cursor: pointer;
      }
    }
  }
}